/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: auto;
}
section h1 {
  flex-basis: 100%;
}
h2 {
  text-align: center;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
